# Documentation: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# The active-soda-officers team will be automatically requested for review on all PRs
* @asusoda/active-soda-officers
